<div class="main-content">
  <div class="container-fluid">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Icon</th>
          <th scope="col">Detail</th>
          <th scope="col">Created Date</th>
          <th scope="col">Updated Date</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>app1</td>
          <td>
            <img src="../../assets/img/angular-red.png" alt="" width="60" height="60">
          </td>
          <td>
            <a [routerLink]='["app-detail"]' class="btn btn-primary">Read more...</a>
          </td>
          <td>03/1/2017</td>
          <td>09/3/2018</td>
          <td class="td-actions ">
            <a rel="tooltip" title="Edit Profile" [routerLink]='["edit-app"]' style="margin-right:20px;" class="btn btn-success btn-simple btn-xs">
              <i class="fa fa-2x fa-edit"></i>
            </a>
            <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
              <i class="fa fa-2x fa-times"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>