<div class="col-md-12 clearfix">
  <div class="col-md-4 ">
    <img src="../../assets/img/angular-red.png" alt="">
  </div>
  <div class="col-md-8 clearfix">
    <h4 style="font-weight: bold">App1</h4>
    <p>Garena game ></p>
    <p>Phiên bản:5.1</p>
    <p>Cho phép mua In-App</p>
    <p>500MB</p>
    <button style="float:right;" class="btn btn-primary">Download</button>
  </div>
</div>

<div class="col-md-12 button-link">
  <ul>
    <a href="abc">
      <li>Nhận xét</li>
    </a>
    <a href="#">
      <li>Chi tiết</li>
    </a>
    <a href="#">
      <li style="border:none">Liên quan</li>
    </a>

  </ul>
</div>
<hr>
<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="la.jpg" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="chicago.jpg" alt="Chicago" style="width:100%;">
      </div>

      <div class="item">
        <img src="ny.jpg" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="version">
  <ul>
    <li>Version 1
      <ul>
        <li>
          <p>Ngày cập nhật:01/01/2018</p>
        </li>
      </ul>
    </li>
    <li>Version 2
      <ul>
        <li>
          <p>Ngày cập nhật:01/01/2018</p>
        </li>
      </ul>
    </li>
    <li>Version 3
      <ul>
        <li>
          <p>Ngày cập nhật:01/01/2018</p>
        </li>
      </ul>
    </li>

  </ul>
</div>
<hr>
<div class="col-xs-12">
  <h5 class="col-xs-12 info-app">Miêu tả</h5>
  <p>Jan 8,2018</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit voluptatibus nemo architecto exercitationem ipsam, sed,
    molestiae voluptas perspiciatis, quisquam in perferendis doloribus impedit maxime adipisci minima, voluptate consectetur
    magni aspernatur!</p>
</div>
<hr>
<div class="col-xs-12">
  <h5 class="col-xs-12 info-app">Cái gì mới</h5>
  <p>Jan 8,2018</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit voluptatibus nemo architecto exercitationem ipsam, sed,
    molestiae voluptas perspiciatis, quisquam in perferendis doloribus impedit maxime adipisci minima, voluptate consectetur
    magni aspernatur!</p>
</div>
<hr>
<div class="col-xs-12">
  <h5 class="col-xs-12 info-app">Thông tin</h5>
  <div class="info-detail">
    <p>Nhà phát triển:</p>
    <p>Danh muc: Hiệu Suất</p>
    <p>Đã cập nhật:16-01-2018</p>
    <p>Kích cỡ:500MB</p>
    <p>Giới hạn tuổi:18+</p>
    <p>Thiết bị tương thích:Yêu cầu các dòng ios 9.1 trở lên tương thích với iphone,ipad</p>
    <p>Ngôn ngữ:Tiếng anh,Tiếng việt</p>
  </div>

</div>
<h5></h5>
<footer>
  &copy; copyright 2017
</footer>