<div class="main-content">
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Updated Date</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>name</td>
                    <td>
                        <img src="../../../assets/img/sidebar-5.jpg" alt="" width="60" height="60">
                    </td>
                    <td>
                        <a [routerLink]='["user-profile"]' class="btn btn-primary">Read more...</a>
                    </td>
                    <td>03/1/2017</td>
                    <td>09/3/2018</td>
                    <td class="td-actions ">

                        <a rel="tooltip" title="Edit Profile" [routerLink]='["edit-user"]' class="btn btn-success btn-simple btn-xs" style="margin-right:20px;">
                            <i class="fa fa-2x fa-edit"></i>
                        </a>
                        <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-2x fa-times"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>